.nav-wrapper {
  margin: 0 20px;
}

.create {
  width: 50%;
  margin: 50px auto;
}

.register {
  width: 50%;
  margin: 50px auto;
}

.login {
  width: 50%;
  margin: 50px auto;
}

.comment strong{
  font-size: .9em;
}

#comTime {
  color: gray;
}

#comText {
  font-size: 1em;
}

.cardTitle {
  margin: 1em 2em;
}

.cardAuthor {
  margin-left: 2em;
}

.cardTime {
  color: gray;
  font-size: .8em;
}

.viewCard {
  height: 100% !important;
}

.viewCardImage { 
  height: 300px !important;
}

#userName { 
  color: teal;
  margin:0 10px;
}

.navIcons {
  font-size: 2em !important;
}

.userSpan {
  margin-top: 20px;
  /* font-size: 1.5em; */
}

.aboutOuter {
  margin: 30px 5%;
}